<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="ssm.pojo.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemname, num, price, info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssmitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	SELECT * FROM SSMITEM
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssmitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ssm.pojo.Item" >
    insert into ssmitem (id, itemname, num, 
      price, info)
    values (#{id,jdbcType=INTEGER}, #{itemname,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ssm.pojo.Item" >
    insert into ssmitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemname != null" >
        itemname,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemname != null" >
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.pojo.Item" >
    update ssmitem
    <set >
      <if test="itemname != null" >
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.pojo.Item" >
    update ssmitem
    set itemname = #{itemname,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>